html,
body {
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
.d-flex {
  display: flex !important;
}
.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.align-items-center {
  align-items: center !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
