html,
body {
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
.d-flex {
  display: flex;
}

.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.align-items-center {
  align-items: center !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
._index {
  z-index: 1;
  position: relative;
}
.drawerBtn {
  display: none;
}
._title {
  font-size: 16px;
}
._content {
  font-size: 14px;
}
